<template>
  <q-page>
    <div class="row justify-center q-pa-md">
      <SearchInput class="col-12 col-md-3" />
    </div>

    <div class="row justify-center">
      <SearchFilter class="col-12 col-md-3" />
    </div>

    <div class="row q-col-gutter-md q-pa-sm justify-left">
      <div
        class="col-12 col-sm-6 col-md-3"
        v-for="(item, i) in animeList"
        :key="i"
      >
        <Card :item="item" :height="'450px'" :width="'360px'" />
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { useStore } from 'vuex';
import { AnimeInterface } from '../@models/SearchModel';

import Card from '../components/Card.vue';
import SearchInput from '../components/SearchInput.vue';
import SearchFilter from '../components/SearchFilter.vue';

export default defineComponent({
  name: 'PageIndex',

  components: {
    SearchInput,
    SearchFilter,
    Card,
  },

  setup() {
    const $store = useStore();

    const animeList = computed((): AnimeInterface[] => {
      return $store.getters.animeList;
    });

    return {
      animeList,
    };
  },
});
</script>
