<template>
  <vue-flip
    v-model="isFlipped"
    class="q-mx-auto"
    :height="height"
    :width="width"
  >
    <template #front>
      <q-card
        @mouseenter="isFlipped = true"
        @click="flipCard"
        :style="`height:${height}; width: ${width} `"
      >
        <q-img
          class="rounded-borders"
          :src="item.image_url"
          :style="`height:${height}; width: ${width}`"
        >
        </q-img>
      </q-card>
    </template>

    <template #back>
      <q-card
        @click="flipCard"
        @mouseleave="isFlipped = false"
        :style="`height:${height}; width: ${width} `"
      >
        <q-card-section>
          <div class="row justify-center">
            <div class="col-6 text-h4 text-center">
              {{ item.title }}
            </div>
            <div class="col-6 text-right">
              <q-badge color="red" :label="`Rated: ${item.rated}`"></q-badge>
              <br />
              <q-badge color="purple" :label="`Type: ${item.type}`"></q-badge>
              <br />
              <q-badge color="amber" :label="`Score: ${item.score}`"></q-badge>
            </div>
          </div>
        </q-card-section>

        <q-card-section>
          <div class="text-caption text-grey">
            {{ item.synopsis }}
          </div>
        </q-card-section>

        <q-card-section class="text-subitle2">
          <ul>
            <li>Number of Episodes: {{ item.episodes }}</li>
            <li>Followers: {{ item.members }}</li>
            <li>
              Dates: {{ convertDate(item.start_date) }} -
              {{ convertDate(item.end_date) }}
            </li>
            <li v-if="item.airing">Is Airing</li>
          </ul>
        </q-card-section>

        <q-card-section class="flex absolute-bottom">
          <q-space></q-space>
          <q-btn @click.stop="" size="md" color="primary" icon="info" push>
          </q-btn>
        </q-card-section>
      </q-card>
    </template>
  </vue-flip>
</template>

<script lang="ts">
import { defineComponent, PropType, ref } from 'vue';
import { AnimeInterface } from '../@models/SearchModel';
import { DateFormatInterface } from '../@models/DateModel';

import VueFlip from 'vue-flip';

export default defineComponent({
  name: 'cards',

  props: {
    height: {
      type: String as PropType<string>,
      default: '500',
    },
    width: {
      type: String as PropType<string>,
      default: '400',
    },
    item: {
      type: Object as PropType<AnimeInterface>,
      required: true,
    },
  },

  components: {
    'vue-flip': VueFlip,
  },

  setup() {
    const isFlipped = ref<boolean>(false);

    const flipCard = () => {
      console.log('Flipped button clicked...');

      isFlipped.value = !isFlipped.value;
    };

    const goTo = () => {
      console.log('redirecting to anime list...');
    };

    const convertDate = (date: string) => {
      const convertDate = new Date(date);

      const newDate: DateFormatInterface = {
        month: () => {
          let convertedMonth = convertDate.getMonth() + 1;
          if (convertedMonth < 10) {
            return `0${convertedMonth}`; //adds a 0 if month is < 10
          }

          return convertedMonth.toString();
        }, // add 1 to format month nonmeclature
        day: convertDate.getDate().toString(),
        year: convertDate.getFullYear().toString(),
      };

      return `${newDate.month()}/${newDate.day}/${newDate.year}`;
    };

    return {
      isFlipped,
      flipCard,
      goTo,
      convertDate,
    };
  },
});
</script>

<style scoped>
</style>

