<template>
  <div class="col-12">Search Filter Component Here</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({});
</script>

<style scoped>
</style>