<template>
  <q-input v-model="searchInput" label="Search" outlined standout>
    <template #append>
      <q-btn
        :loading="isLoading"
        @click="searchAnime({ query: searchInput, type: 'anime' })"
        icon="search"
      >
        <template #loading>
          <q-spinner-facebook />
        </template>
      </q-btn>
    </template>
  </q-input>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { SearchInterface } from '../@models/SearchModel';
import { useStore } from 'vuex';
import { api } from 'boot/axios';

export default defineComponent({
  setup() {
    const $store = useStore();
    const searchInput = ref<string>('hell');
    const isLoading = ref<boolean>(false);

    const searchAnime = async (search: SearchInterface) => {
      isLoading.value = true; //api is loading

      const { type, query } = search;

      try {
        const result = await api.get(
          `https://api.jikan.moe/v3/search/${type}?q=${query}`
        );

        $store.commit('SET_ANIME_LIST', result.data.results) as unknown;

        isLoading.value = false; //api is done loading
      } catch (err: unknown) {
        isLoading.value = false;
        console.log(err);
      }
    };

    return {
      searchInput,
      isLoading,
      searchAnime,
    };
  },
});
</script>
